form{
    display: flex;
    
    justify-content: center;
    align-items: center;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 100%;
  font-weight: bold;
  background-color: white
}
 h1 {
   color: #ea503f;
   font-family: Arial;
   text-align: center
 }

 #btn{
    /* display: inline-block; */
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
 }